<a href="https://colab.research.google.com/github/ehowlrnffk/pythonbasic/blob/main/Python_Basic_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 3 기본 자료형 

# int 정수 1,2,3,4
# float 실수 3.14 , 2.18
# bool 논리 True, False   (True는 1 False는 0)
# str 문자열 '홍길동'

In [5]:
int('100')  #100은 문자임 ㅇㅇ 근데 앞에  int 가 붙으면 진짜 숫자로 변환댐.

100

In [6]:
float(1)

1.0

In [7]:
float('3.14')   #int 때랑 똑같이 진짜 숫자 변환 ㄱㄴ

3.14

In [8]:
bool(' ') #뭐라도있음 트루임 ㅇㅇ

True

In [15]:
 bool('') #bool 안에 뭐가 아무것도 없으면 False

False

In [24]:
# 문자열 str, string

a = '한국'
print(a)
b = "한국"
print(b)

str(100)

한국
한국

'100'

In [27]:
#문자열 인덱싱 (indexing)
# 인덱싱은 모든 문자열을 구성하는 모든 문자에 부여한 고유의 번호

s = 'hello'
print(s[4])  #인덱스 시작은 0
# h e l l o
# 0 1 2 3 4 - 각문자의 인덱스 번호

print(s[-1]) #인덱스의 마이너스는 바로 맨뒤에서 거꾸로니까 o가되는거임

# h  e  l  l  o 
#-5 -4 -3 -2 -1

o
o

In [31]:
#문자열 슬라이싱 slicing
#문자열의 인덱스를 사용하여 한문자 이상으로 구성된 단어나 문장을 추출 
# 인덱스는 한글자씩 슬라이싱은 여러글자씩 ㅇㅋ?

s= 'banana'
s[0:3]  #[시작:미만]

'ban'

In [32]:
addr = '서울시 강남구 역삼동 1번지'
print(addr[4:7])

# 슬라이스할떄 그다음거 하나까지 표시해주기 ㅇㅋ? 미만이라고 생각하면 됨

강남구

In [ ]:
# 컬렉션  
# '여러 값을 하나의 이름으로 묶어서 관리하는 자료형'
# 리스트 list 듀플 tuple 딕셔너리 dict 세개가 있노

In [36]:
# 리스트 list
# 리스트는 여러 값을 저장할때 가장 많이 사용되는 자료형이다.
# 특징
# 대괄호로 생성한다. []
# 여러가지 자료형을 하나 리스트로 생성 ㄱㄴ
# mutable 한 속성을 갖는다. (수정 가능, 삭제 가능)
# indexing , slicing 이 가능함



list1 = [1,2,3,4]
list2=[1,2,3,'데','한',True]

print(list2[3])    #인덱싱 한거고

print(list2[0:4]) # 슬라이싱 한거임 ㅇㅇ

데
[1, 2, 3, '데']

In [57]:
#append() - 추가할때 쓰3 list에서만쓴단다

scores = [51,46,29]
scores.append(99) #스코어의 리스트에 99를 추가한거임
scores

[51, 46, 29, 99]

In [43]:
#insert() - 이것도 리스트에 데이터 추가
scores = [51,46,29]
scores. insert(0,90) # 특정위치에 데이터를 추가
scores

[90, 51, 46, 29]

In [44]:
# pop() - 리스트에서 데이터 삭제
scores = [50,40,29]
scores.pop() # 아무것도 안쓰면 마지막꺼 삭제
scores

[50, 40]

In [45]:
scores = [50,40,29]
scores.pop(0) # 아무것도 안쓰면 마지막꺼 삭제
scores

[40, 29]

In [48]:
# 튜플 tuple
# 저장된 값을 변경 할 수 없는 리스트

# 특징
# 소괄호로 생성
# 여러가지 자료형을 하나의 튜플로 생성 할 수 있다.
# immutable이란 속성을 갖는다. (수정,삭제 불가능)
# indexing, slicing 가능


tu =(1,)    # 1개의 원소를 갖는 튜플을 생성할때는 , 쉼표를 붙인다. 안붙이면 클래스가 튜플인지를 몰라
print(tu)
print(type(tu))

(1,)
<class 'tuple'>

In [50]:
tu = 1,2,3,4,5,
type(tu)

(1, 2, 3, 4, 5)

In [51]:
tu = 1,2,3,4,5,
tu[0]

1

In [53]:
tu = 1,2,3,4,5,
tu[0:3]

(1, 2, 3)

In [67]:
# Set

# 특징
# 중괄호로 생성 {}
# 여러가지 자료형을 하나의 set로 생성 할 수 있다.
# mutable이란 속성을 갖는다. (수정,삭제 가능)
# indexing, slicing 불가능, 순서가 없어서 안댄대
# 중복하는 데이터 저장 없다. 딴건 되나바 

set = {1,1,1,2,2,3}
set

{1, 2, 3}

In [68]:
set.add(4)
set

{1, 2, 3, 4}

In [69]:
set.remove(3)
set

{1, 2, 4}

In [73]:
#dict 키값과 벨류값의 쌍으로 데이터를 저장하는 자료형 
# 자바에서의 map, JS 에서의 json 과 유사한 파이썬의 자료형

# 특징
# 중괄호로 생성 {}
# 여러가지 자료형을 하나의 dictionary로 생성 할 수 있다.
# mutable이란 속성을 갖는다. (수정,삭제 가능)
# indexing, slicing 불가능, 순서가 없어서 안댄대
# 키값과 벨류값의 쌍으로 데이터를 저장하는 자료형 


dict = {'name':'구국','age': 24}
dict['name']
dict['age']

24

In [74]:
dict['c'] = 'ccccccccc'
dict

{'age': 24, 'c': 'ccccccccc', 'name': '구국'}

In [76]:
dict.pop('c')
dict

{'age': 24, 'name': '구국'}

In [77]:
me = [1,2,3]
id(me) #실제 데이터가 저장된 메모리 위치래 그니까 1,2,3 이 어디에 저장되어있나 그거말해주는듯

139815087789872

In [78]:
me.append(4)
id(me) #같은 위치노 이건 리스트가 mutable하다는거고 ㅇㅋ?

139815087789872

In [79]:
me = 10
id(me)

94380254747424

In [80]:
me += 1 # me = me+1 같은거 이걸왜모르노 ㅋ ㅋ 
id(me) # 다른위치노 이게 정수가 immutable하다는거래

94380254747456