<a href="https://colab.research.google.com/github/ehowlrnffk/pythonbasic/blob/main/Python_Basic_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 3 기본 자료형 

# int 정수 1,2,3,4
# float 실수 3.14 , 2.18
# bool 논리 True, False   (True는 1 False는 0)
# str 문자열 '홍길동'

In [5]:
int('100')  #100은 문자임 ㅇㅇ 근데 앞에  int 가 붙으면 진짜 숫자로 변환댐.

100

In [6]:
float(1)

1.0

In [7]:
float('3.14')   #int 때랑 똑같이 진짜 숫자 변환 ㄱㄴ

3.14

In [8]:
bool(' ') #뭐라도있음 트루임 ㅇㅇ

True

In [15]:
 bool('') #bool 안에 뭐가 아무것도 없으면 False

False

In [24]:
# 문자열 str, string

a = '한국'
print(a)
b = "한국"
print(b)

str(100)

한국
한국

'100'

In [23]:
#문자열 인덱싱 (indexing)

'100'