<a href="https://colab.research.google.com/github/ehowlrnffk/pythonbasic/blob/main/Python_Basic_Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list tuple dict set

# list [] indexing/slicing    mutable(삭제,수정)    [1]

#tuple () indexing/slicing    immutable   (안에 하나있음쉼표하나 붙여줘야댐 ㅇㅇ) {1,}

#dict  {}    X순서가없어      mutable               {'key':'value}

#set   {}    x순서없음        mutable           {1.2.3                }

In [13]:
#1 
no = '31025'
a=no[0]  #indexing
b=no[1:3] #slicing
c=no[3:5] #slicing
print(a,'학년',b,'반',c,'번호') 
print(f'{a} 학년 {b} 반 {c}번호') #f 스트링

3 학년 10 반 25 번호
3 학년 10 반 25번호

In [26]:
s= '서울2가1234'
s4 = s[-4:]
print(s,'의 번호 4는',s4)
print(f'{s} 의 번호 4는 {s4}')

서울2가1234 의 번호 4는 1234
서울2가1234 의 번호 4는 1234

In [33]:
s= 'maple'
s1=len(s)/2 
# (여기서 /2가 아니라 //2하면 소수점 떨어져나감)
s2= s[int(s1)]
print(s,'의 중간 글자는',s2)
print(f'{s} 의 중간 글자는 {s2}')

maple 의 중간 글자는 p
maple 의 중간 글자는 p

In [34]:
# 3  정석???이랄까 쌤이 한거임 이거ㅏㄴ
s = 'maple'  #가운데 p출력
center = s[len(s) // 2] # // 나머지를 버리고 몫만 취한다 
                     #  % 몫은 버리고 나머지만 취한다 (홀/짝/배)
print(center)

p

In [43]:
#4

list = [10,20,30,40,50,60,70,80,90,100]
a=list[2:7]
b=a[1]
print('3번쨰부터 요소부터 7번쨰 요소 =',a)
print('a에서 두번째요소 =',b)

print(f'3번쨰 요소부터 7번쨰 요소={a}\na에서 두번쨰 요소= {b}')

3번쨰부터 요소부터 7번쨰 요소 = [30, 40, 50, 60, 70]
a에서 두번째요소 = 40
3번쨰 요소부터 7번쨰 요소=[30, 40, 50, 60, 70]
a에서 두번쨰 요소= 40

In [45]:
#4 정석 간단하게하는법

li1 = [10,20,30,40,50,60,70,80,90,100]

print('3번째 요소부터 7번째 요소 = ',li1[2:7])
print('3번째 요소부터 7번째 요소 중 2번째 요소 = ',li1[2:7])

3번째 요소부터 7번째 요소 =  [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 요소 =  [30, 40, 50, 60, 70]

In [47]:
#5


dict = {'금요일':'짜장면'}
dict1 = {'토요일':'짬뽕'}
dict2 = {'일요일':'탕수육'}
print(f'{dict}\n{dict1}\n{dict2}')

{'금요일': '짜장면'}
{'토요일': '짬뽕'}
{'일요일': '탕수육'}

In [48]:
#5 이게정석이노 난 그냥 문자그자체를 프린트한거임

dict = {'금요일':'탕수육',
        '토요일':'유산슬',
        '일요일':'팔보채'}

print('금요일 :',dict['금요일'])
print('토요일 :',dict['토요일'])
print('일요일 :',dict['일요일'])

금요일 : 탕수육
토요일 : 유산슬
일요일 : 팔보채

In [50]:
# \n 줄바꿈  line feed
# \t 탭      tab
# \' 하면 작은따옴표의 의미가 사라짐

print('Hello \'World\'')
print("Hello 'World'") #큰따옴표안에 작은다옴표나 그반대면 서로 의미 상실 ㄱㄴ 예 아래

print("Hello \"World\"")
print('Hello "World"')

Hello 'World'
Hello 'World'
Hello "World"
Hello "World"

In [51]:
# print() 함수

print('재미있는','파이썬')
print('재미있는','파이썬',sep=',') # sep는 구분자래 그냥 글자사이에 구분짓는거임 ㅇㅇ
print('재미있는','파이썬',sep='/')

재미있는 파이썬
재미있는,파이썬

In [52]:
print('영화 타이타닉')
print('평점' , end='') #end는 넘어가지 않게하는거임 그다음 글자를 
print('5점')

영화 타이타닉
평점5점

In [56]:
# %연산자 (비추래)

print('%d' % 11)   # %d 정수 10진수 자리표시자 decima라는 뜻이래 걍 각각의 뜻 이 있는거네 %@라는게
print('%o' % 10)   # %o 정수 8진수 자리표시자
print('%x' % 10)   # %x 정수 16진수 자리표시자

print('%f' % 3.14)
print('%s' % 'python')

11
12
a
3.140000
python

In [66]:
print('%5d'%1)#다섯칸 확보하고 오른쪽에 1넣음 
print('%-5d'%1)#다섯칸 확보하고 왼쪽에  1넣음 
print('%d'%1)


print('%f' % 3.14)
print('%5.2f' % 3.14) #다섯칸을 확보하고 소수 2자리까지 오른쪽에 출력하는거임
print('%.1f' % 3.14)

    1
1
1
3.140000
 3.14
3.1

In [68]:
a='학생'

# 기본 출력 방법
print(a,'입니다.')

# f string 출력 방법
print(f'{a} 입니다.')

# %  연산자 출력 방법
print('%s 입니다.' % a)

# format() 출력 방법
print('{} 입니다.'.format(a))

학생 입니다.
학생 입니다.
학생 입니다.
학생 입니다.

In [78]:
#format() 매서드

print('My name is {}'.format('dd'))
print('My name is {0}'.format('dd'))
print('My name is {gb}\n'.format(gb='dd'))

print('My name is {}. I\'m {} years old.'.format('James', 20))
print('My name is {name}. I\'m {age} years old.'.format(name='James', age=20))

My name is dd
My name is dd
My name is dd

My name is James. I'm 20 years old.
My name is James. I'm 20 years old.

In [80]:
#f string

who = 'you'
now = 'happy'

print(f'{who} are {now}')

age =21
print(f'내년엔 {age+1}살이 댐')

you are happy
내년엔 22살이 댐

In [81]:
# 표준입력

a = input()
print(a)

ㄴㄷㅌ
ㄴㄷㅌ

In [82]:
n=input('우앙 입력하셈')
print(n)

우앙 입력하셈affafafafaf
affafafafaf

In [93]:
n=input('이름 입력하셈::')
age=input('나이 입력하셈::')

print('이름은 {}'.format(n))
print('나이는 {}'.format(age))

print('이름은',n)
print('나이는',age)

print(f'이름은 {n}\n나이는 {age}')

print('이름은 %s'%n)
print('이름은 %s'%age)

이름 입력하셈::ㄱㅊㄱㅊ
나이 입력하셈::ㅗㅜㅗㅜ
이름은 ㄱㅊㄱㅊ
나이는 ㅗㅜㅗㅜ
이름은 ㄱㅊㄱㅊ
나이는 ㅗㅜㅗㅜ
이름은 ㄱㅊㄱㅊ
나이는 ㅗㅜㅗㅜ
이름은 ㄱㅊㄱㅊ
이름은 ㅗㅜㅗㅜ