<a href="https://colab.research.google.com/github/ehowlrnffk/pythonbasic/blob/main/Python_Basic_Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# input 쓸떄 주의해야 할점
# input은 모든 입력을 문자형str로 받기떄문에 숫자로 입력해도 문자로 받아들임

n= int(input('정수입력 ㄱ'))
print(type(n))

정수입력 ㄱ45
<class 'int'>

In [3]:
price = 50000
n = int(input('할부 개월 입력 ㄱ:'))
print('매달 내는 돈은 {}입니다'.format(price/n))

할부 개월 입력 ㄱ:4
매달 내는 돈은 12500.0입니다

In [11]:
n = float(input('첫번쨰 실수 입력 ㄱ:'))
a = float(input('두번쨰 ㅅ실수 입력 ㄱ:'))
print((a),'와',(n),'의 합은',(a)+(n))
print(f'{a}와 {n}의 합은 {a+n}이다')

첫번쨰 실수 입력 ㄱ:1.23
두번쨰 ㅅ실수 입력 ㄱ:2.34
2.34 와 1.23 의 합은 3.57
2.34와 1.23의 합은 3.57이다

In [14]:
month=[31,28,31,30,31,30,31,31,30,31,30,31]
n = int(input('개월 입력 ㄱ:'))
print(f'{n}월은 {month[n-1]}까지 입니다')

개월 입력 ㄱ:5
5월은 31까지 입니다

In [19]:
english_dict = {
    'flower': '꽃',
    'fuck' : '시발',
    'duck' : '오리'
}

n = input('영단어 입력 ㄱ')
print(f'{n} : {english_dict[n]}')

영단어 입력 ㄱfuck
fuck : 시발

In [20]:
a = (input('가고싶은데 입력 ㄱ:'))
b = (input('가고싶은데 입력 ㄱ:'))
c = (input('가고싶은데 입력 ㄱ:'))
set = {a,b,c}
print(f'조사된 여행지는{set}이노')

가고싶은데 입력 ㄱ:부산
가고싶은데 입력 ㄱ:제주도
가고싶은데 입력 ㄱ:한라산
조사된 여행지는{'한라산', '부산', '제주도'}이노

In [24]:
#복합 대입 연산자.
a=1
print(a)
a=a+1
print(a)
a+=1
print(a)
a=a-1
print(a)
a-=1
print(a)

1
2
3
2
1

In [27]:
a,b=10,20
print('a=%d,b=%d' %(a,b))
a,b=b,a#a랑 b값 바꾸고싶으면 이렇게하셈
print('a=%d,b=%d' %(a,b))

a=10,b=20
a=20,b=10
a=10,b=20

In [28]:
1 ==1

True

In [29]:
1!=1

False

In [30]:
#시퀀스 연산자 : 순서가 있는 구조시퀀스에서 사용됨 리스트 튜플 문자열 레인지
[1,2,3] + [6,5,3]

[1, 2, 3, 6, 5, 3]

In [33]:
'hello' +' '+ 'python'

'hello python'

In [35]:
[1,2,3] *2

[1, 2, 3, 1, 2, 3]

In [39]:
# 멤버쉽 연산자
5 in [1,2,3,4,5]

True

In [38]:
5 not in [1,2,3,4,5]

False

In [40]:
'a' in 'ass'

True

In [42]:
'a' in {'a':'apple','b':'banana'}

True

In [44]:
a = int(input('10~99 사이 정수 입력'))
print(f'십의자리 숫자:{a//10}\n일의자리 숫자:{a%10}')

10~99 사이 정수 입력45
십의자리 숫자:4
일의자리 숫자:5

In [45]:
# 응용예제 p 85

# 1
no = input('10~99사이의 정수를 입력하세요 >>>')

print(f'십의 자리 : {no[0]}')
print(f'일의 자리 : {no[1]}')

10~99사이의 정수를 입력하세요 >>>45
십의 자리 : 4
일의 자리 : 5

In [57]:
a = int(input('초 입력 기'))
b= a//3600  #시간뺀거
c= (a-b*3600)//60  #시간뺴고 분한거
d=(a-b*3600-c*60)
print(f'{b}시간 {c}분 {d}초')

초 입력 기3690
1시간 1분 30초

In [58]:
# 2 쌤이한거

cho = int(input('초를 입력하세요 >>>'))

print(f'변환 결과는 {cho // 3600}시간 {cho % 3600  // 60} 분{cho % 60}초 입니다.')

# cho = 3690
# # 1시간 = 60분 = 1 * 60 * 60 초 = 3600 초
# hour = cho // 3600  # 1시간
# minute = cho % 3600  // 60  # 1분
# second = cho % 60
# print(second)

초를 입력하세요 >>>3690
변환 결과는 1시간 1 분30초 입니다.

In [ ]:
a = int(input('시ㅏ원번호 입력 네자리 기>'))
b=a%10
if b>=5 : print("근무시간은 오전이노")
else:
   print("근무시간은 오후노")

In [ ]:
#조건문 if 
#조건문은 특정 조건을 만족하는 지의 여부에 따라 실행되는 코드가 달라져야할때 사요ㅗㅇ

a=0
if a>0:
  print('양수')